doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
	body
		block content
		script(src="//js.leapmotion.com/0.2.0-beta6/leap.min.js")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/javascripts/underscore-min.js')
		script(src='/javascripts/webgl-heatmap.js')
		script(src='/javascripts/client.js')	
		